/* sitewide styles */
a:hover, a:focus {
  text-decoration: none;
}
div.radio, div.checkbox {
  margin-top: 0;
  margin-bottom: 0; 
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}
input.vbo-table-select-all,
.checkbox input[type="checkbox"].vbo-table-select-all{
  margin-top: -14px;
}
.container-inline div{
  display: block;
}
/*site header and nav */
html body.admin-menu {
  margin-top: 50px !important;
}
.navbar-header {
  margin-right: 10%;
}
#navbar .lead{
  font-size: 17px;
  padding-left: 5px;
}
#main-content-wrapper{
  margin-top: 0;
  padding: 0;
}
.navbar-inverse .navbar-brand{
  padding-top: 20px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  color: #efefef;
}

/* home page */
.front .jumbotron .pane-title{
  font-size: 53px;
  font-family: Roboto, sans-serif;
  padding: 0 15px;
}
.front .jumbotron {
  color: #f3f3f3;
  margin-top: 20px;
  background-color: #42a0c5;
}
.front .jumbotron a{
  color: #fff;
}
.front .jumbotron a .bg-warning,
.front .jumbotron a .bg-danger{
  color: #008cba;
  padding: 0 3px;
}
.pane-views-software-list-block .pane-title,
.pane-views-feature-list-block .pane-title{
  color: #333333;
  background-color: #f5f5f5;
  padding: 23px 15px 10px 15px;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
}
.pane-views-feature-list-block li{
  margin-bottom: 10px;
}

/* page template */
#page-wrapper{
  background-color: #fafafa;
}
.main-container{
  min-height: 550px;
}
.page-header {
  border-bottom: none;
}
#main-content-area .page-header{
  margin-left: 20px;
}
#main-content-area .region{
  margin-left: 20px;
}

/* left sidebar */
.region-sidebar-first .well {
  background-color: #fefefe;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.region-sidebar-first h2{
  font-size: 22px;
}
html.js .block-refresh-button {
  font-size: 11px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #efefef;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  height: 22px;
  float: right;
  margin-right: 3px;
  padding: 2px 21px 2px 6px;
  color: #008cba;
  text-decoration: none; 
}

/* software & features - 'my' lists and tables */
.flag-my-software .flag-message,
.flag-my-features .flag-message {
  position: absolute;
  top: -12px;
  line-height: normal;
  left: -87px;
  width: 60px;
  font-size: 11px;
  padding: 3px 5px;
  border: 1px solid #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
  text-align: center;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: normal;
}
#block-menu-menu-feature-categories li ul{
  padding-left: 20px;
  background-color: #fff;
}
.block-refresh-button{
  margin-right: -10px;
}
.view-id-my_stuff .my-stuff-row{
  margin-bottom: 10px;
}
.view-id-my_stuff .my-stuff-row a{
  font-size: 13px;
}
.view-id-my_stuff .btn-warning{
  padding: 0 4px;
}
.view-id-my_stuff .my-stuff-row .flag{
  color: #f7f7f7;
  font-size: 11px;
  padding: 2px 6px;
  background-color: #e99002;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #d08002;
  white-space: normal;
}
.view-id-my_stuff .btn-warning a:hover,
.view-id-my_stuff .btn-warning a:focus{
  color: #fff;
}
#views-exposed-form-feature-list-page #edit-keys-wrapper{
  min-width: 300px;
  width:35%;
}
#views-form-feature-list-page .form-wrapper .panel-body,
#views-form-taxonomy-term-page .form-wrapper .panel-body{
  padding: 10px 0 0;
  margin-left: 3px;
}
.btn-danger{
  background: #6E6766 !important;
  border-color: #6E6766 !important;
}
#views-exposed-form-feature-list-page #edit-flagged-wrapper{
  padding-top: 33px;
}
#views-form-feature-list-page fieldset legend,
#views-form-taxonomy-term-page fieldset legend{
  display: none;
}
#views-form-feature-list-page fieldset .btn,
#views-form-taxonomy-term-page fieldset .btn{
  padding: 4px 6px;
  font-size: 11px;
  line-height: normal;
  position: relative;
}
#views-form-feature-list-page fieldset .btn-success:before,
#views-form-taxonomy-term-page fieldset .btn-success:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 3px;
  border-top: 8px solid #eee;
  border-right: 8px solid transparent;
  border-bottom: 0 solid #eee;
  border-left: 8px solid transparent;
}
#views-form-feature-list-page fieldset .btn-success:after,
#views-form-taxonomy-term-page fieldset .btn-success:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 2px;
  border-top: 8px solid #358753;
  border-right: 8px solid transparent;
  border-bottom: 0 solid #358753;
  border-left: 8px solid transparent;
}
#views-form-feature-list-page fieldset.panel,
#views-form-taxonomy-term-page fieldset.panel{
  margin-bottom: 3px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* software and features table */
table th.views-field-ops{
  white-space: nowrap;
}
.vbo-table-select-all-pages.btn-default {
  color: #FFF;
  background-color: #E99002;
  border-color: #D08002;
}
.views-table-row-select-all td,
.vbo-table-this-page{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.view-id-software_list table,
.view-id-feature_list table{
  max-width: 1100px;
}
.view-id-software_list table .views-field-views-bulk-operations,
.view-id-feature_list table .views-field-views-bulk-operations{
  width: 2%
}
.view-id-software_list table .views-field-ops,
.view-id-feature_list table .views-field-ops{
  width:10%;
}
.view-id-software_list table .views-field-title,
.view-id-feature_list table .views-field-title{
  width:20%;
  font-weight: bold;
}
.view-id-software_list table .views-field-field-feature-category,
.view-id-feature_list table .views-field-field-feature-category{
  width:13%;
}
.view-id-software_list table .views-field-field-description,
.view-id-feature_list table .views-field-field-description{
  width:45%;
}

/* Comparison table */
.view-id-dcompare table{
  max-width: 860px;
}
.view-id-dcompare caption{
  font-size:14px;
  font-weight: bold;
}
.view-id-dcompare .views-field-field-software{
  width: 15%;
}
.view-id-dcompare .views-field-field-detail-status{
  width: 10%;
}
.view-id-dcompare .views-field-field-notes{
  width: 75%;
}

/* footer */
#footer_wrapper{
  margin-top: 50px;
  padding: 30px 0;
}

/* Feature pages */
.feature-node-page .main-container{
  max-width: 1500px;
}
#feature-display-panel .flag-my-features .flag-message {
  left: 94px;
}
#feature-display-panel .flag-outer-my-features{
  margin: 8px 0;
}
#feature-display-panel a.flag {
  color: #ffffff;
  background-color: #43ac6a;
  border-color: #3c9a5f;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* responsive */
@media (min-width: 768px){
  #wrapper {
    padding-left: 0;
  }
}
@media (max-width: 1350px) {
}

@media (max-width: 1250px) {
}

@media (max-width: 1150px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
}