/* sitewide styles */
body{
margin-top: 0;
}
a:hover, a:focus {
  text-decoration: none;
}
div.radio, div.checkbox {
  margin-top: 0;
  margin-bottom: 0; 
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}
input.vbo-table-select-all,
.checkbox input[type="checkbox"].vbo-table-select-all{
  margin-top: -14px;
}
.container-inline div{
  display: block;
}

/*site header and nav */
#navbar{
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;
}
.navbar .logo{
  margin-top: 20px;
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 17px;
  padding-top: 20px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #49B2D4;
}
ul.nice-menu-down {
  background: transparent;
  width: 100%;
}
ul.nice-menu li, ul.nice-menu li.menuparent {
  border: none;
  background: none !important;
  background-color: transparent !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: normal;
  font-size: 15px;
  color: #036;
  float: left;
}
ul.nice-menu a {
color: #036;
}
ul.nice-menu li.menuparent ul{
  background: #f9f9f9;
  border-top: none;
  padding: 10px;
}
ul.nice-menu-down .menuparent a {
  font-size: 15px;
  text-align: left;
}
.navbar-header {
  margin-right: 10%;
}
#navbar .lead{
  font-size: 17px;
  padding-left: 5px;
}
#main-content-wrapper{
  margin-top: 0;
  padding: 0;
}
.navbar-inverse .navbar-brand{
  padding-top: 20px;
  font-family: Roboto, sans-serif;
  font-size: 25px;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  color: #efefef;
}
#navbar .region-navigation{
  float: right;
}
#block-user-login {
  padding: 20px 20px 0 0;
}
#block-user-login a {
  color: #fff !important;
  font-size: 16px;
}

/* home page */
.front.logged-in .main-container{
  width:100%;
  max-width:1600px;
}
.front .menu-path-front{
  display: none;
}
.front .tabs{
  display: none;
}
.front #highlight-wrapper{
  background: #e4f3f8;  /*EDF9FF*/
  padding: 20px 0 40px;
}
.mission-statement h3{
  color: #FD1A2C;
  font-weight: bold;
  font-size: 17px;
}
.front .featured{
  padding: 20px 30px 0 !important;
}
.front .featured .col-md-2{
  width: 20%;
}
.front .featured .thumbnail{
  min-height: 273px;
  border: none;
}
.front .featured .thumbnail .caption {
  height: 75px;
}
.front .featured .thumbnail .caption a{
  display: block;
}
.front .featured .thumbnail>img, .thumbnail a>img {
  width: 100%
}
#content p, #content li {
  font-size: 14px;
}
.focus-areas{
  padding: 34px 0 0;
}
.highlighted h2,
.focus-areas h2 {
  text-align: center;
  font-size: 35px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #666;
  margin: 0 auto;
}
.highlighted h3{
  text-align: center;
}
.focus-areas h4{
  text-align: center;
}
#main-content-wrapper{
  padding: 10px 0;
  margin-top: 20px;
}
#frontpage{
  padding: 30px;
  background: #f4f4f4;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
.follow-section-header h2{
  text-align: center;
  font-size: 27px;
  letter-spacing: 3px;
  color: #666;
}
.front #frontpage .pane-views h2,
.front #frontpage .pane-block h2{
  font-size: 17px;
  text-align: center;
  font-weight: 700;
}
.pane-blogs h2{
  color: #555;
}
.pinterest-feed h2{
  color: #c9232d;
}
.twitter-feed h2{
  color: #00abec;
}
.front .pane-blogs .panel{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height:650px;
  overflow: hidden;
}
.front .pane-blogs .panel-body{
  padding: 15px 15px 0;
}
.front .pane-blogs li{
  padding: 3px 0 9px;
  color: #888;
}
.front .pane-blogs li a{
  display: block;
}
.front .pane-blogs .more-link{
  margin: 0 20px;
}
.front .jumbotron .pane-title{
  font-size: 53px;
  font-family: Roboto, sans-serif;
  padding: 0 15px;
}
.front .jumbotron {
  color: #f3f3f3;
  margin-top: 20px;
  background-color: #42a0c5;
}
.front .jumbotron a{
  color: #fff;
}
.front .jumbotron a .bg-warning,
.front .jumbotron a .bg-danger{
  color: #008cba;
  padding: 0 3px;
}
.pane-views-software-list-block .pane-title,
.pane-views-feature-list-block .pane-title{
  color: #333333;
  background-color: #f5f5f5;
  padding: 23px 15px 10px 15px;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
}
.pane-views-feature-list-block li{
  margin-bottom: 10px;
}

/* management menu */
#block-system-management ul ul{
  margin-left: 15px;
}
#block-system-management ul ul li a {
  padding: 5px 15px;
}
/* login page */
#user-login{
  max-width: 500px;
}
/* page template */
#page-wrapper{
  background-color: #fafafa;
}
.main-container{
  min-height: 550px;
}
.page-header {
  border-bottom: none;
}
#main-content-area .page-header{
  margin-left: 20px;
}
#main-content-area .region{
  margin-left: 20px;
}

/* left sidebar */
.region-sidebar-first .well {
  background-color: #fefefe;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.region-sidebar-first h2{
  font-size: 22px;
}
html.js .block-refresh-button {
  font-size: 11px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #efefef;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  height: 22px;
  float: right;
  margin-right: 3px;
  padding: 2px 21px 2px 6px;
  color: #008cba;
  text-decoration: none; 
}

/* software & features - 'my' lists and tables */
.flag-my-software .flag-message,
.flag-my-features .flag-message {
  position: absolute;
  top: -12px;
  line-height: normal;
  left: -87px;
  width: 60px;
  font-size: 11px;
  padding: 3px 5px;
  border: 1px solid #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
  text-align: center;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: normal;
}
#block-menu-menu-feature-categories li ul{
  padding-left: 20px;
  background-color: #fff;
}
.block-refresh-button{
  margin-right: -10px;
}
.view-id-my_stuff .my-stuff-row{
  margin-bottom: 10px;
  width: 100%;
}
.view-id-my_stuff .my-stuff-row a{
  font-size: 13px;
}
.view-id-my_stuff .btn-warning{
  padding: 0 4px;
}
.view-id-my_stuff .my-stuff-row .flag{
  color: #f7f7f7;
  font-size: 11px;
  padding: 2px 6px;
  background-color: #e99002;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #d08002;
  white-space: normal;
}
.view-id-my_stuff .btn-warning a:hover,
.view-id-my_stuff .btn-warning a:focus{
  color: #fff;
}
#views-exposed-form-feature-list-page #edit-keys-wrapper{
  min-width: 300px;
  width:35%;
}
#views-form-feature-list-page .form-wrapper .panel-body,
#views-form-taxonomy-term-page .form-wrapper .panel-body{
  padding: 10px 0 0;
  margin-left: 3px;
}
.btn-danger{
  background: #6E6766 !important;
  border-color: #6E6766 !important;
}
#views-exposed-form-feature-list-page #edit-flagged-wrapper{
  padding-top: 33px;
}
#views-form-feature-list-page fieldset legend,
#views-form-taxonomy-term-page fieldset legend{
  display: none;
}
#views-form-feature-list-page fieldset .btn,
#views-form-taxonomy-term-page fieldset .btn{
  padding: 4px 6px;
  font-size: 11px;
  line-height: normal;
  position: relative;
}
#views-form-feature-list-page fieldset .btn-success:before,
#views-form-taxonomy-term-page fieldset .btn-success:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 3px;
  border-top: 8px solid #eee;
  border-right: 8px solid transparent;
  border-bottom: 0 solid #eee;
  border-left: 8px solid transparent;
}
#views-form-feature-list-page fieldset .btn-success:after,
#views-form-taxonomy-term-page fieldset .btn-success:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 2px;
  border-top: 8px solid #358753;
  border-right: 8px solid transparent;
  border-bottom: 0 solid #358753;
  border-left: 8px solid transparent;
}
#views-form-feature-list-page fieldset.panel,
#views-form-taxonomy-term-page fieldset.panel{
  margin-bottom: 3px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* software and features table */
table th.views-field-ops{
  white-space: nowrap;
}
.vbo-table-select-all-pages.btn-default {
  color: #FFF;
  background-color: #E99002;
  border-color: #D08002;
}
.views-table-row-select-all td,
.vbo-table-this-page{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.view-id-software_list table,
.view-id-feature_list table{
  max-width: 1100px;
}
.view-id-software_list table .views-field-views-bulk-operations,
.view-id-feature_list table .views-field-views-bulk-operations{
  width: 2%
}
.view-id-software_list table .views-field-ops,
.view-id-feature_list table .views-field-ops{
  width:10%;
}
.view-id-software_list table .views-field-title,
.view-id-feature_list table .views-field-title{
  width:20%;
  font-weight: bold;
}
.view-id-software_list table .views-field-field-feature-category,
.view-id-feature_list table .views-field-field-feature-category{
  width:13%;
}
.view-id-software_list table .views-field-field-description,
.view-id-feature_list table .views-field-field-description{
  width:45%;
}

/* Comparison table */
.view-id-dcompare h3{
  font-size: 19px;
}
.view-id-dcompare h3.panel-title{
  font-size: 15px;
}
.view-id-dcompare ul{
  float: left;
  width: 100%;
  clear: both;
  margin: 0 0 28px;
  padding: 0;
}
.view-id-dcompare li{
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
}
.view-id-dcompare caption{
  font-size:14px;
  font-weight: bold;
}
.view-id-dcompare .views-field-nothing{
  vertical-align: top;
}
.view-id-dcompare .panel{
  width: 250px; 
  margin: 0 10px 0 0;
}
.view-id-dcompare .views-field-field-software{
  width: 15%;
}
.view-id-dcompare .views-field-field-detail-status{
  width: 10%;
}
.view-id-dcompare .views-field-field-notes{
  width: 75%;
}

/* footer */
#footer_wrapper{
  margin-top: 50px;
  padding: 30px 0;
}

/* Feature pages */
.feature-node-page .main-container{
  max-width: 1500px;
}
#feature-display-panel .flag-my-features .flag-message {
  left: 94px;
}
#feature-display-panel .flag-outer-my-features{
  margin: 8px 0;
}
#feature-display-panel a.flag {
  color: #ffffff;
  background-color: #43ac6a;
  border-color: #3c9a5f;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* responsive */
@media (max-width: 1090px) {
  .navbar-header{
    margin-right: 5%;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }
  .navbar-right {
    float: right!important;
  }
}
@media (min-width: 960px) {
  #block-system-management ul ul li a {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  body{
    font-size: 13px;
  }
  .front .jumbotron .pane-title{
    font-size: 43px !important;
  }
}
@media (max-width: 820px) {
  .navbar-header{
    margin-right: 2%;
  }
  .navbar-inverse .navbar-brand{
    font-size: 20px;
  }
}
@media (min-width: 768px){
  #wrapper {
    padding-left: 0;
  }
}
@media (max-width: 1350px) {
}

@media (max-width: 1250px) {
}

@media (max-width: 1150px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
}