#navbar{
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-inverse {
}
#navbar .menu{
}
.navbar .logo{
  margin-top: 20px;
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 17px;
  padding-top: 20px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #49B2D4;
}
ul.nice-menu-down {
  background: transparent;
  width: 100%;
}
ul.nice-menu li, ul.nice-menu li.menuparent {
  border: none;
  background: none !important;
  background-color: transparent !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: normal;
  font-size: 15px;
  color: #036;
  float: left;
}
ul.nice-menu a {
color: #036;
}
ul.nice-menu li.menuparent ul{
  background: #f9f9f9;
  border-top: none;
  padding: 10px;
}
ul.nice-menu-down .menuparent a {
  font-size: 15px;
  text-align: left;
}
.front .menu-path-front{
  display: none;
}
.front .tabs{
  display: none;
}
.front #highlight-wrapper{
  background: #e4f3f8;  /*EDF9FF*/
  padding: 20px 0 40px;
}
.mission-statement h3{
  color: #FD1A2C;
  font-weight: bold;
  font-size: 17px;
}
.front .featured{
  padding: 20px 30px 0 !important;
}
.front .featured .col-md-2{
  width: 20%;
}
.front .featured .thumbnail{
  min-height: 273px;
  border: none;
}
.front .featured .thumbnail .caption {
  height: 75px;
}
.front .featured .thumbnail .caption a{
  display: block;
}
.front .featured .thumbnail>img, .thumbnail a>img {
  width: 100%
}
#content p, #content li {
  font-size: 14px;
}
.focus-areas{
  padding: 34px 0 0;
}
.highlighted h2,
.focus-areas h2 {
  text-align: center;
  font-size: 35px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #666;
  margin: 0 auto;
}
.highlighted h3{
  text-align: center;
}
.focus-areas h4{
  text-align: center;
}
#main-content-wrapper{
  padding: 10px 0;
  margin-top: 20px;
}
#frontpage{
  padding: 30px;
  background: #f4f4f4;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
.follow-section-header h2{
  text-align: center;
  font-size: 27px;
  letter-spacing: 3px;
  color: #666;
}
.front #frontpage .pane-views h2,
.front #frontpage .pane-block h2{
  font-size: 17px;
  text-align: center;
  font-weight: 700;
}
.pane-blogs h2{
  color: #555;
}
.pinterest-feed h2{
  color: #c9232d;
}
.twitter-feed h2{
  color: #00abec;
}
.front .pane-blogs .panel{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height:650px;
  overflow: hidden;
}
.front .pane-blogs .panel-body{
  padding: 15px 15px 0;
}
.front .pane-blogs li{
  padding: 3px 0 9px;
  color: #888;
}
.front .pane-blogs li a{
  display: block;
}
.front .pane-blogs .more-link{
  margin: 0 20px;
}
